    //* Colors   */

    $primary-text-color:#000000;
    $secondary-text-color: #A4ACAD;
    $accent-text-color: #111111;

    
    $primary-accent-color:#FF9846;
    $secondary-accent-color:#F46D40;


    $primary-bg-color:#F2F2F2;
    $secondary-bg-color:#ffffff;



    //*  Fonts    */
    $primary-text-fonts: Roboto;
    $accent-text-fonts: Raleway;